body {
    background-color: goldenrod !important;
}

#navigation {
    text-align: right;
}

.navbar {
    position: fixed;
    background: white;
}

.mainNav.scrolled {
    background: white;
    transition: background;
}

.mainNav .nav-link:hover {
    color:black;
    background: goldenrod;
}

h4 {
    color: black;
    margin-top:10px;
}

.features-row {
    padding-top: 2rem;
}

.recent-features {
    padding-top: 50px;
    background-color: goldenrod;
}

.post-name {
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
    font-style:italics;
}

.post-name:hover {
    text-align: center;
    color:white;
    text-decoration: none;
    font-family:
}

.logo {
    width:12rem;
}

.navbar {
    font-size: 1.5rem;
    font-weight:100;
}

quote {
    font-style:italics;
}

a.nav-link {
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
}

a.link:hover {
    color:white;
    text-decoration: none;
}

a.link {
    color:black;
    text-decoration: none;
}

a:visited {
  color: black;
}

.excerpt {
    color:black;
    text-decoration: none; 

}

.excerpt:hover {
    color:white;
    text-decoration: none !important;
}

.main-img {
   z-index: 2;
   padding:0;
   margin:0;
}

.main-text {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    z-index: 1;
    position: relative;
    bottom:50%;
    background-color: rgba(255, 255, 255, 0.75)
}

.features-photo {
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 18px solid white;
}

#feature-video {
    margin-bottom:50px;
}

#description {
    margin-top: 30px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.double-expo {
}

footer {
}
